:root {
  --bg-color: #141e30;
  --color-primary: #e44f71;
  --color-secondary: #ff7896;

  --font-color-light: #ddd;
  --font-color-dark: rgb(20, 20, 20);

  --link-color: #3391ff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

*:focus {
  outline: 2px solid var(--link-color);
}

:root {
  font-size: 20px;
}

body {
  background: radial-gradient(#243b55, #141e30) !important;
  min-height: 100vh;
  color: var(--font-color-light);
  line-height: 1.4;
  font-family: "Consolas", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

#app {
  overflow: hidden;
  min-height: 100%;
}
