.card {
  display: flex;
  flex-direction: column;
  width: 275px;
  aspect-ratio: 6/9;
  padding: 10px;
  border: 2px solid #ddd;
  margin: 0px auto;
  border-radius: 20px;
}

.card > p, h1 {
  max-width: 100%;
  word-wrap: break-word;
}

.card__button--flip,
.card__button--edit {
  width: 48px;
  height: 48px;
  font-size: 20px;
  background-color: transparent;
  width: 48px;
  height: 48px;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
}

.card__top {
  display: flex;
  flex-direction: row;
  height: 50px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 20px;
}

.card__top button {
  width: 100%;
  border: none;
  padding: 0;
  border: 1px solid white;
  background-color: transparent;
  color: var(--font-color-light);
}

.card__bottom {
  margin-top: auto;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.card__bottom button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
}

.card__bottom button:focus,
.card__bottom button:active {
  outline: none;
}

.card__bottom button:hover {
  background-color: rgb(35, 35, 35);
}

.card__content--front,
.card__content--back {
  text-align: center;
}

.card__content--code {
  text-align: left;
  word-wrap: none;
  white-space: pre-wrap;
  max-width: none;
  overflow: scroll;
}