@import './base.css';

main, header {
  max-width: 800px;
  padding: 0px 20px
}

header {
  display: flex;
  align-items: center;
  width: 100%;
  height: 80px;
}

header > * {
  margin: 0;
}

.subheading {
  font-size: 1.1rem;
  color: var(--font-color-dark);
  margin-top: -10px;
  margin-bottom: 30px;
}

a {
  color: var(--link-color);
}

h1 {
  font-size: 2rem;
}


.link {
  all: unset;
  color: #3391ff;
  text-decoration: underline;
}

.link:focus {
  outline: 2px solid var(--link-color);
}

.link:hover {
  transform: inherit;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding: 10px;
  height: 55px;
  width: 220px;
  border: 2px solid #d33f64;
  color: #d33f64;
  background: transparent;
  white-space: nowrap;
  transition: all 0.05s linear;
  font-size: 1.2rem;
  font-weight: bold;
}

.button--dark {
  border-color: var(--color-background);
  color: var(--color-background);
}

button:hover,
.button:hover {
  cursor: pointer;
  transform: scale(1.04);
}

button:active,
.button:active {
  transform: scale(1);
}