@import './base.css';

h1 {
  font-size: 2rem;
}

.link {
  all: unset;
  color: #3391ff;
  text-decoration: underline;
  cursor: pointer;
}

.link:focus {
  outline: 2px solid var(--link-color);
}

.link:hover {
  transform: inherit;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding: 10px;
  height: 55px;
  width: 220px;
  border: 2px solid #d33f64;
  color: #d33f64;
  background: transparent;
  white-space: nowrap;
  transition: all 0.05s linear;
  font-size: 1.2rem;
  font-weight: bold;
}

.button--dark {
  border-color: var(--color-background);
  color: var(--color-background);
}

.button:hover,
.button:hover {
  cursor: pointer;
  transform: scale(1.04);
}

.button:active,
.button:active {
  transform: scale(1);
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.tag {
  font-size: 16px;
  width: fit-content;
  padding: 1px 10px;
  background-color: #414141;
  border-radius: 30px;
  height: fit-content;
}

.tag:hover {
  background-color: #555555;
  cursor: default;
}

.modal {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}