form {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  color: var(--font-color-dark);
  font-size: 1.2rem;
}

input {
  height: 35px;
  border-radius: 0px;
  border: none;
  border-bottom: 2px solid transparent;
  border-image: linear-gradient(
    0.25turn,
    var(--color-primary),
    var(--color-secondary)
  );
  border-image-slice: 1;
  background-color: transparent;
  font-size: 1.4rem;
}

input {
  margin-bottom: 25px;
  padding-left: 0px;
}

button {
  margin: auto;
  margin-bottom: 20px;
}

.header {
  font-size: 2rem;
  line-height: normal;
  margin: 0px auto;
  color: var(--font-color-dark);
}

.hidden {
  opacity: 0;
}

.left {
  margin: 0;
}

.center {
  margin: 0 auto;
}
